# Dependencias
node_modules/
.pnp
.pnp.js

# Builds
.next/
out/
build/
dist/

# Testing
coverage/

# Variables de entorno
.env*.local

# Vercel
.vercel

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Editores
.DS_Store
*.pem
.idea/
.vscode/
